:root {
  /* bg Colors */
  --bg-color-primary: #1d1d1d;
  --bg-color-secondary: #2a2a2a;
  --bg-color-tertiary: #363636;
  --bg-active-color: rgb(233, 233, 233);
  --bg-danger-color: rgb(172, 4, 4);
  --bg-success-color: green;
  /* text colors */
  --text-primary-color: rgb(237, 237, 237);
  --text-secondary-color: rgb(200, 200, 200);
  --text-tertiary-color: rgb(150, 150, 150);
  --text-active-color: rgb(24, 24, 24);
  /* padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;
  --padding-3xl: 4rem;
  /* margin */
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 2rem;
  --margin-2xl: 3rem;
  --margin-3xl: 4rem;
  /* gutter */
  --gutter-sm: 0.5rem;
  --gutter-md: 1rem;
  --gutter-lg: 1.5rem;
  --gutter-xl: 2rem;
  --gutter-2xl: 3rem;
  --gutter-3xl: 4rem;
  /* font-sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem;
  /* font-weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.75rem;
  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;
  --border-radius-3xl: 2rem;
  --border-radius-full: 9999px;
  --border-color-test: greenyellow;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-primary-color);
}

main section {
  height: 100%;
  width: 100%;
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-lg);
}
main section .left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
}
main section .left .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}
main section .left .top .btn {
  padding: var(--padding-sm) var(--padding-lg);
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--bg-active-color);
  color: var(--text-active-color);
  border-radius: var(--border-radius-md);
}
main section .left .top #reset-btn {
  background-color: var(--bg-danger-color);
  color: var(--text-primary-color);
}
main section .left .top #download-btn {
  background-color: var(--bg-success-color);
  color: var(--text-primary-color);
}
main section .left .bottom {
  width: 100%;
  padding: var(--padding-2xl);
  aspect-ratio: 5/3;
  border-radius: var(--border-radius-lg);
  background-color: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}
main section .left .bottom .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gutter-md);
}
main section .left .bottom .placeholder i {
  font-size: 10rem;
}
main section .left .bottom .placeholder p {
  font-size: var(--font-size-lg);
}
main section .left .bottom canvas {
  max-width: 90%;
  max-height: 80vh;
  display: none;
}
main section .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
}
main section .right h2 {
  margin-bottom: var(--gutter-lg);
}
main section .right .filters {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
}
main section .right .filters .filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gutter-md);
}
main section .right .filters .filter input {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
main section .right .filters .filter input::-webkit-slider-runnable-track {
  width: 100%;
  background-color: var(--bg-active-color);
  height: 0.2rem;
}
main section .right .filters .filter input::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  background-color: red;
  border-radius: 50%;
  margin-top: -0.5rem;
}/*# sourceMappingURL=style.css.map */