@use "theme.css";

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
@mixin all100 {
  height: 100%;
  width: 100%;
}
// <element>.nth-child(<n>){properties}
@mixin allCentre {
  display: flex;
  align-items: center;
  justify-content: center;
}

html,
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--bg-color-primary);
  color: var(--text-primary-color);
}

main {
  section {
    @include all100;
    padding: var(--padding-2xl);
    display: flex;
    // background-color: yellow;
    gap: var(--gutter-lg);

    .left {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gutter-lg);
      // border: 2px dotted var(--border-color-test);

      .top {
        display: flex;
        align-items: center;
        gap: var(--gutter-md);

        .btn {
          padding: var(--padding-sm) var(--padding-lg);
          border: none;
          outline: none;
          cursor: pointer;
          background-color: var(--bg-active-color);
          color: var(--text-active-color);
          border-radius: var(--border-radius-md);
        }

        #reset-btn {
          background-color: var(--bg-danger-color);
          color: var(--text-primary-color);
        }

        #download-btn {
          background-color: var(--bg-success-color);
          color: var(--text-primary-color);
        }
      }

      .bottom {
        width: 100%;
        padding: var(--padding-2xl);
        aspect-ratio: 5/3; //wil take same height as width
        border-radius: var(--border-radius-lg);
        background-color: var(--bg-color-secondary);
        @include allCentre;

        .placeholder {
          @include allCentre;
          flex-direction: column;
          gap: var(--gutter-md);
          i {
            font-size: 10rem;
          }
          p {
            font-size: var(--font-size-lg);
          }
        }

        //* Here is our canvas element
        canvas {
          // background-color: orangered;
          max-width: 90%;
          max-height: 80vh;
          // border-radius: va r(--border-radius-lg);
          display: none;
        }
      }
    }

    .right {
      width: 30%;
      display: flex;
      flex-direction: column;
      // border: 1px solid var(--border-color-test);
      background-color: var(--bg-color-secondary);
      padding: var(--padding-sm) var(--padding-lg);
      border-radius: var(--border-radius-lg);

      h2 {
        margin: var(--gutter-lg) 0;
      }
      .filters {
        // background-color: #ffffff48;
        display: flex;
        flex-direction: column;
        gap: var(--gutter-lg);

        .filter {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: var(--gutter-md);

          input {
            width: 100%;
            outline: none;
            appearance: none; //removes all default styles of input
          }

          input::-webkit-slider-runnable-track {
            width: 100%;
            background-color: var(--bg-active-color);
            height: 0.2rem;
          }

          input::-webkit-slider-thumb {
            cursor: pointer;
            appearance: none;
            width: 1.2rem;
            height: 1.2rem;
            background-color: red;
            border-radius: 50%;
            margin-top: -0.5rem;
          }
        }
      }

      .preset-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--gutter-md);

        .preset {
          padding: var(--padding-sm) var(--padding-lg);
          border-radius: var(--border-radius-md);
          border: none;
          outline: none;
          cursor: pointer;
          background-color: var(--bg-active-color);
          color: var(--text-preset-color);
          font-weight: 600;
          text-transform: capitalize;
          font-size: var(--font-size-md);
        }

        .preset.active {
          background-color: var(--text-check-color);
        }
      }
    }
  }
}
